PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
MONGODB_URI=mongodb://localhost:27017/trustshield
JWT_SECRET=change-this-jwt-secret-in-production
ANTHROPIC_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
SIGHTENGINE_API_USER=
SIGHTENGINE_API_SECRET=
GOOGLE_SAFE_BROWSING_API_KEY=
